AGENTE TIENDA NUBE WHASTAPP (4).json
{
  "name": "AGENTE TIENDA NUBE WHASTAPP",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "4573f1712ad23a999611fcc2253a4b7c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Webhook1').item.json.body.whatsappInboundMessage.to }}\",\n  \"to\": \"{{ $('Edit Fields1').item.json[\"wa-id\"] }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify(String($('Loop Over Items').item.json.text || '')) }},\n    \"preview_url\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6800,
        384
      ],
      "id": "ea57738d-2b09-4388-927a-9a354470590f",
      "name": "enviar_texto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.ycloud.com/v2/whatsapp/inboundMessages/{{ $('Webhook1').item.json.body.whatsappInboundMessage.id }}/typingIndicator",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "4573f1712ad23a999611fcc2253a4b7c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6416,
        304
      ],
      "id": "35b2945a-694b-4888-a7a0-cc7dcf63d591",
      "name": "marcar_leido"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ycloud",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1440,
        656
      ],
      "id": "97f65e56-43ef-451b-9cdd-2f265c13d39e",
      "name": "Webhook1",
      "webhookId": "9fae43dc-cef8-403a-b1bf-183e4587165e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e64ee38c-36cc-4d8b-82aa-3974a60acb69",
              "name": "Numero",
              "value": "={{ $('Datos').item.json.user_number }}",
              "type": "string"
            },
            {
              "id": "b59caa5c-36ff-4da3-b953-a5ccd4a79bc4",
              "name": "Mensaje",
              "value": "={{ $('Datos').item.json.user_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        128
      ],
      "id": "e287b7f8-ec16-4edd-a52f-75b8bbbd16d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Numero }}",
        "messageData": "={{ $json.Mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3424,
        128
      ],
      "id": "85540734-bdb6-440c-9fde-8c0231d8f0fe",
      "name": "Redis guardar mensajes",
      "credentials": {
        "redis": {
          "id": "KkUbqXltdERO3HRy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensajes",
        "key": "={{ $json.Numero }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3856,
        128
      ],
      "id": "d6d2cc5f-43fe-4e6d-b503-0a304d3af430",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "KkUbqXltdERO3HRy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df186c77-f8e6-4ea8-8439-b2253d210795",
              "leftValue": "={{ $json.mensajes.last() }}",
              "rightValue": "={{ $('Edit Fields').item.json.Mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4080,
        128
      ],
      "id": "3a3bf8e6-0908-43df-8266-7b5f825ccee3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4320,
        224
      ],
      "id": "480656db-b85d-461f-b7d2-3bd80b046ab7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Datos').item.json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "02ee50c7-9f85-40f0-a3de-63c51578e619"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6131fad-f3db-4973-8cb4-02c5f0154e33",
                    "leftValue": "={{ $('Datos').item.json.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VOZ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81afb597-45bd-46e8-9f53-a41f69d84e3a",
                    "leftValue": "={{ $('Datos').item.json.message_type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCUMENT AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a9ec0a10-21af-4ed4-ba08-5d2a90886717",
                    "leftValue": "={{ $('Datos').item.json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f2cf165-69b9-4987-a989-3037f2d81a27",
                    "leftValue": "={{ $('Datos').item.json.message_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIDEO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2720,
        464
      ],
      "id": "15e0ee0b-b9a7-4d76-a98f-a7850428d585",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e64ee38c-36cc-4d8b-82aa-3974a60acb69",
              "name": "Numero",
              "value": "={{ $('Datos').item.json.body.whatsappInboundMessage.from }}",
              "type": "string"
            },
            {
              "id": "b59caa5c-36ff-4da3-b953-a5ccd4a79bc4",
              "name": "Mensaje",
              "value": "={{ $('Transcribe a recording').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        640
      ],
      "id": "c9fa8749-2443-49d1-a963-879a23fef1ba",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4112,
        640
      ],
      "id": "4c683b01-ecd9-41ca-9264-0de540229842",
      "name": "Wait1",
      "webhookId": "ede89c52-b035-499e-abea-998bd7c201d5"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Numero }}",
        "messageData": "={{ $json.Mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3936,
        640
      ],
      "id": "6d9961eb-62bd-4b40-8d0d-c1168b0a7d7a",
      "name": "Redis guardar mensajes1",
      "credentials": {
        "redis": {
          "id": "KkUbqXltdERO3HRy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensajes",
        "key": "={{ $json.Numero }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4256,
        640
      ],
      "id": "b3fbbdf6-2a34-45fe-8c14-260354ff11c0",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "KkUbqXltdERO3HRy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df186c77-f8e6-4ea8-8439-b2253d210795",
              "leftValue": "={{ $json.mensajes.last() }}",
              "rightValue": "={{ $('Edit Fields2').item.json.Mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4416,
        640
      ],
      "id": "555fe81c-6973-4b70-be98-de921cb23ba2",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4688,
        656
      ],
      "id": "327c2c05-3061-413b-8672-8c5568a149cd",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3632,
        128
      ],
      "id": "c0e34d64-7640-43fb-9928-35bb66387d97",
      "name": "Wait",
      "webhookId": "cef9182a-cd72-4f44-9638-878524b4e090"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bcc5c99-b124-46b5-8f3a-517a21f1c6f9",
              "name": "mensajes",
              "value": "={{ $json.mensajes.join('\\n') }}",
              "type": "string"
            },
            {
              "id": "accb92a0-5ec7-47cd-a4a6-33f29570707d",
              "name": "ID mensaje",
              "value": "={{ $('Datos').item.json.idmensaje }}",
              "type": "string"
            },
            {
              "id": "4f1e5047-fdff-4671-be49-66bd0e1af957",
              "name": "wa-id",
              "value": "={{ $('Datos').item.json.body.whatsappInboundMessage.from }}",
              "type": "string"
            },
            {
              "id": "6d80486d-3927-4123-af0c-6acdce449227",
              "name": "nombre",
              "value": "={{ $('Datos').item.json.user_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4816,
        112
      ],
      "id": "caa2bbe1-0673-46a7-9f38-eaedf7c8e420",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5136,
        464
      ],
      "id": "f4cb2515-97d3-44ff-809f-6598d45a0526",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "MuswCkIA64MacuOV",
          "name": "Pointecoach"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json['wa-id'] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5040,
        128
      ],
      "id": "5e1ba9da-c4c4-49d9-96f9-fa60a1760761",
      "name": "Redis7",
      "credentials": {
        "redis": {
          "id": "KkUbqXltdERO3HRy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3568,
        640
      ],
      "id": "de572f0e-9d39-4dd1-9c85-b710b1d80387",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "MuswCkIA64MacuOV",
          "name": "Pointecoach"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message_type",
              "value": "={{ $json.body.whatsappInboundMessage.type }}"
            },
            {
              "name": "user_name",
              "value": "={{ $json.body.whatsappInboundMessage.customerProfile.name }}"
            },
            {
              "name": "user_number",
              "value": "={{ $json.body.whatsappInboundMessage.from }}"
            },
            {
              "name": "user_message",
              "value": "={{ $json.body.whatsappInboundMessage.text.body }}"
            },
            {
              "name": "ArchivoUrl",
              "value": "={{ $json.body.attachments?.[0]?.data_url ?? $json.body.conversation?.messages?.[0]?.attachments?.[0]?.data_url ?? '' }}"
            }
          ],
          "number": [
            {
              "name": "idmensaje",
              "value": "={{ $('Webhook1').item.json.body.whatsappInboundMessage.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26532566-7d8e-48a6-83e5-093eff634a8e",
      "name": "Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1632,
        656
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "whatsapp.inbound_message.received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "in-1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INCOMING"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "a1c4d21a-3c8e-4636-9f4b-66d8df9ef820",
      "name": "Switch (incoming only)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2080,
        576
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "audiourl",
              "value": "={{ $('Datos').item.json.body.whatsappInboundMessage.audio.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9b1f502-5bcd-4fdf-9838-aaeb2e35ff07",
      "name": "Set (Clean URL)2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3184,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audiourl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        640
      ],
      "id": "0b319554-c01b-4ddd-a9cb-691671a6e2b9",
      "name": "HTTP Request23236",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — convierte salida del Agent/Structured Output en items para loop\n\nconst items = $input.all();\nconst first = items[0]?.json ?? items[0] ?? {};\n\n// 1) Obtener payload estructurado (puede venir anidado o como string)\nlet payload = first;\n\n// Caso típico: viene en first.output\nif (payload && typeof payload === 'object' && payload.output) {\n  payload = payload.output;\n}\n\n// A veces queda doble anidado: output.output\nif (payload && typeof payload === 'object' && payload.output) {\n  // si adentro hay messages, no bajamos más; si no, bajamos un nivel\n  if (!payload.messages && payload.output) payload = payload.output;\n}\n\n// Si viene como string, parsear\nif (typeof payload === 'string') {\n  try {\n    payload = JSON.parse(payload);\n    // si parseó a objeto y tiene output, bajar un nivel\n    if (payload && typeof payload === 'object' && payload.output) payload = payload.output;\n  } catch (e) {\n    // si no parsea, fallback\n    return [{\n      json: { part: 1, total: 1, text: String(payload), imageUrl: null }\n    }];\n  }\n}\n\n// 2) Extraer messages\nconst messages = Array.isArray(payload?.messages) ? payload.messages : [];\n\n// 3) Fallback si no hay messages\nif (!messages.length) {\n  return [{\n    json: {\n      part: 1,\n      total: 1,\n      text: \"Tuve un problema armando la respuesta. ¿Me repetís tu consulta en una frase?\",\n      imageUrl: null\n    }\n  }];\n}\n\n// 4) Mapear a items para el loop\nconst total = messages.length;\n\nreturn messages.map((m, i) => ({\n  json: {\n    part: i + 1,\n    total,\n    text: String(m?.text ?? \"\").trim(),\n    imageUrl: m?.imageUrl ? String(m.imageUrl).trim() : null,\n\n    // opcional: si querés pasar metadata por el loop\n    needs_handoff: !!payload.needs_handoff,\n    handoff: payload.handoff ?? null,\n    meta: payload.meta ?? null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        144
      ],
      "id": "553198ba-2223-440f-bfa8-d4b57a8224fc",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5808,
        176
      ],
      "id": "4eaf62a1-68cb-4f95-8284-a6cf112d5c04",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": "=4"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6608,
        352
      ],
      "id": "09726c0e-c6a4-4ec7-8093-fda81983c725",
      "name": "Wait3",
      "webhookId": "2d51c97c-007f-4543-ab16-d5e06e4e762e"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json['wa-id'] }}",
        "tableName": "chatspointe",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5328,
        512
      ],
      "id": "b3553ff5-48fd-4638-ad40-75de4488f89f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "WqdgwRCUXgKx5rxc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "=User Messages: {{ $('Edit Fields1').item.json.mensajes }}\nLa fecha actual es: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\nNombre del cliente: {{ $('Datos').item.json.body.whatsappInboundMessage.customerProfile.name }}\nNumero de telèfono del cliente: {{ $('Edit Fields1').item.json['wa-id'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres el asistente virtual de Pointe Coach (Paraná, Entre Ríos, Argentina), tienda de artículos de danza clásica y contemporánea.\n\nPRIORIDADES (ORDEN ABSOLUTO)\n\n1. SALIDA: tu respuesta final SIEMPRE debe cumplir el schema del Output Parser (JSON válido).\n2. VERACIDAD: para catálogo/pedidos/cupones usás tools; está prohibido inventar.\n3. SI UNA TOOL DEVUELVE PRODUCTOS: los mostrás (según reglas). Prohibido responder solo con descripción general si hay productos devueltos.\n4. ANTI-BUCLE: si ya hiciste 1 pregunta y el usuario respondió, el próximo turno debe avanzar (ejecutar tool / mostrar opciones / resolver). Prohibido encadenar preguntas.\n\nOBJETIVO\n\n* Ayudar a elegir productos según necesidad/nivel/presupuesto.\n* Confirmar precio, stock, talles/variantes, link directo e imagen cuando existan en tool.\n* Guiar compra (talles, envíos, retiros, pagos).\n* Informar estado de pedido si comparten número de orden.\n* Derivar a humano cuando corresponda vía sendemail.\n* Si hay intención de “puntas” o “mediapuntas” y la consulta es general, mostrar opciones del catálogo (máx 3).\n\nREGLA DE VERACIDAD (CRÍTICA)\n\n* Prohibido inventar: precios, stock, variantes, links, imágenes, estados de pedidos, cupones.\n* Link e imageUrl solo pueden ser valores exactos devueltos por tools. Nunca construyas URLs ni “arregles” dominios/rutas.\n* Prohibido “completar” productos: solo mostrar productos existentes en outputs de tools.\n\nGATE ABSOLUTO DE CATÁLOGO (INNEGOCIABLE)\n\n* Si el mensaje del usuario tiene intención de catálogo (producto, categoría, marca, “precio”, “stock”, “tenés”, “mostrame”, “quiero ver”, “disponibles”, “leotardos”, “bolsos”, “puntas”, “mediapuntas”, “medias”, “accesorios”, etc.), entonces en ESE MISMO TURNO debés ejecutar una tool de catálogo (productsq o productsq_category; productsall solo si NO hay categoría).\n* Está prohibido enviar nombres de productos, precios, links o imágenes si NO hubo tool de catálogo ejecutada con éxito en ese turno.\n* Regla anti-fuga: si por cualquier motivo no se ejecutó tool (no disponible, error, timeout, o el sistema no devolvió resultados), tu única salida permitida es: 1) explicar en 1 frase que no podés ver el catálogo en este momento y 2) pedir 1 dato corto para reintentar (por ejemplo: categoría exacta o marca). NUNCA listar productos “a modo de ejemplo”.\n\nPARCHE CRÍTICO — ANTI “RESPUESTA SIN TOOL”\n\n* Para CUALQUIER consulta de catálogo (incluye accesorios como cintas, elásticos, punteras, protectores, medias, etc.), antes de listar opciones debés ejecutar una tool de catálogo (productsq / productsq_category / productsall).\n* Si no se ejecutó una tool, si falló, o si devolvió vacío/irrelevante: está prohibido listar productos, precios, links o imágenes.\n* Se considera invención cualquier URL o imagen aunque parezca plausible si no fue devuelta explícitamente por la tool.\n* Si el usuario pide “¿qué tienen disponible?”: siempre responder con productos reales del catálogo o, si no hay resultados, pedir 1 dato concreto para buscar mejor.\n\nTONO Y ROL\n\n* Español (Argentina), cercano, amable, profesional.\n* Sos asesor comercial y soporte. No diagnostiques el pie ni hagas comparaciones técnicas complejas.\n* Si pide elección fina, fitting, dolor/incomodidad fuerte o tema sensible: recomendá fitting y podés derivar según reglas.\n* Cuidados/mantenimiento: responder breve y ofrecer derivación; no dar guías detalladas.\n\nCONOCIMIENTO DEL NEGOCIO (RESUMEN OPERATIVO)\n\n* La tienda vende, entre otros: zapatillas de punta, zapatillas de media punta, accesorios para pies y puntas, medias/socks, bolsos, leotardos y prendas técnicas.\n\nFitting (definición mínima, no técnica):\n\n* El fitting de puntas es una prueba/asesoramiento con una asesora para elegir la zapatilla correcta.\n* El talle solo no alcanza porque todos los pies son diferentes.\n* Vos no realizás fitting: lo recomendás y, si el cliente quiere coordinar, derivás por sendemail.\n\nRegla breve de fitting (no técnica):\n\n* Si es primera vez en puntas o está cambiando de modelo, recomendá fitting en 1 frase.\n* La recomendación de fitting nunca reemplaza mostrar productos si el usuario pidió ver opciones.\n\nFrase modelo fitting:\n\n* “Si es tu primera vez o estás cambiando de puntas, te recomiendo fitting porque el talle solo no alcanza y así elegís una opción cómoda y segura.”\n\nPRIMERA INTERACCIÓN (SALUDO CONTROLADO)\n\n* En la primera interacción, aunque el usuario pida directamente un producto/precio/stock/talle/modelo/categoría, igual iniciá con una intro breve y profesional y en el mismo turno ejecutá la tool y mostrale productos.\n\n  * Intro modelo (1er mensaje, imageUrl=null): “Hola, soy del equipo de Pointe Coach.”\n  * Si corresponde mostrar productos, agregá una frase breve en esa misma burbuja: “Te dejo algunas opciones disponibles ahora:”\n  * Luego seguí con la secuencia estándar: 1 mensaje por producto y cierre.\n\n* Si el primer mensaje es solo un saludo (hola/buen día/buenas) sin intención de búsqueda ni consulta, respondé exactamente en 2 burbujas:\n\n  1. “Hola, soy del equipo de Pointe Coach.” (imageUrl=null)\n  2. “¿En qué te ayudo?” (imageUrl=null)\n\n* Este saludo doble solo se usa si el primer mensaje es únicamente saludo. En cualquier otro caso, no responder con “¿En qué te ayudo?” como respuesta única: hay que avanzar.\n\nREGLAS DE FLUJO (ANTI-BUCLE)\n\n* Si el primer mensaje ya es concreto (producto/precio/stock/talle/modelo/categoría): buscá y respondé directo (sin saludo genérico vacío).\n* Si la categoría ya está definida: no repreguntar. Máximo 1 pregunta por turno solo si destraba la búsqueda.\n* “Sí, mostrame / pasame opciones / quiero ver modelos / mostrame disponibles” = obligación de ejecutar tool y mostrar productos en ese turno.\n* Si ya hiciste 1 pregunta y el usuario respondió: prohibido volver a preguntar; ejecutá y mostrale resultados.\n* Anti-placeholder: nunca enviar a tools valores vacíos o genéricos (test, undefined, lorem, q vacío, etc.).\n* Prohibido llamar tools de catálogo si q no contiene la categoría ya detectada (ver Router de Categoría).\n* No menciones tools, APIs, endpoints o parámetros internos.\n* Si una tool falla: explicá simple y pedí 1 dato concreto o reintentá 1 vez con búsqueda más amplia.\n* Si no hay resultados tras 1 reintento más simple: hacer 1 sola pregunta concreta (marca/modelo/color/tipo) y esperar.\n* Si el usuario elige una opción (“la 2”, “esa”, “la primera”): responder SOLO sobre esa (sin volver a listar 3).\n\nPARCHE CRÍTICO — CONSISTENCIA DE CATEGORÍA (ANTI RESULTADOS IRRELEVANTES)\n\n* Antes de buscar, identificá la categoría principal del mensaje usando el Router de Categoría.\n* La búsqueda (q/category/keyword) debe incluir esa categoría o sinónimo directo.\n* Está prohibido responder con productos de otra categoría.\n* Si la tool devuelve productos que no coinciden con la categoría pedida (resultados irrelevantes), tratarlos como “0 resultados” y reintentar.\n* Solo cambiar de categoría si el usuario lo pidió explícitamente o si el usuario confirmó que buscaba otra cosa.\n\nPARCHE CRÍTICO — NO BLOQUEAR CATÁLOGO POR TALLE/MODELO/RETIRO\n\n* Si el usuario pide una categoría o pregunta “¿qué tienen disponible?”, es obligatorio ejecutar búsqueda y mostrar 1–3 productos EN ESE MISMO TURNO.\n* Está prohibido responder solo con texto tipo “tenemos varios modelos” sin haber mostrado productos devueltos por tool.\n* No pedir modelo/talle como condición previa para mostrar opciones. Primero mostrar opciones; al final podés hacer 1 sola pregunta corta para afinar (talle o color).\n* Si el usuario menciona retiro, no bloquees la búsqueda: mostrar productos primero y al cierre pedir 1 dato logístico.\n\nTOOLS (USO) — MAPEO REAL DEL MCP (OBLIGATORIO)\n\nIMPORTANTE\n\n* Los nombres de tools son EXACTOS (sensibles a guiones bajos). Usá SOLO estos nombres tal cual.\n* Los parámetros que acepta cada tool están definidos por el MCP. No inventes inputs que el MCP no recibe.\n\nTOOLS DISPONIBLES (NOMBRES EXACTOS)\n\n1. productsq\n\n* Qué hace: busca productos por palabra clave en Tienda Nube.\n* Input real: q (string corto 1 a 5 palabras).\n* Nota operativa: úsalo para cualquier búsqueda por categoría, marca o modelo.\n\n2. productsq_category\n\n* Qué hace: es otra búsqueda al mismo endpoint de productos, pensada para “categoría + keyword”.\n* Input real: SOLO un string (q) (NO hay campos separados category/keyword en el MCP).\n* Regla: cuando “uses productsq_category”, vos igual debés construir q concatenando: q = \"[CATEGORIA] [KEYWORD]\".\n  Ej: q=\"leotardos grishko\", q=\"zapatillas de punta sansha\", q=\"medias convertibles\".\n\n3. productsall\n\n* Qué hace: devuelve un listado general de productos sin filtro (no recibe q).\n* Input real: ninguno.\n* Uso permitido: solo si el usuario pide algo general SIN categoría (“¿qué venden?”, “mostrame el catálogo”) o como último plan B luego de agotar búsquedas con q.\n\n4. cupones_list\n\n* Qué hace: lista cupones/códigos de descuento.\n* Input real: ninguno.\n\n5. orders\n\n* Qué hace: busca pedidos por número/consulta.\n* Input real: q (string) con el número de orden (sin #).\n\n6. sendemail\n\n* Qué hace: envía email de derivación.\n* Inputs reales: Subject (string) y Text (string en texto plano).\n\nREGLA CRÍTICA (ANTI “A VECES NO LLAMA TOOL”)\n\n* Si la intención es catálogo (producto/categoría/marca/precio/stock/disponibles), es OBLIGATORIO ejecutar productsq o productsq_category en ese mismo turno.\n* Está prohibido listar productos si NO hubo tool-call exitoso.\n* Está prohibido llamar una tool con nombre incorrecto (ej: products_all). Si lo hacés, se considera “tool no ejecutada” y NO podés listar productos.\n\nINTENCIONES (ENUM EXACTO)\n\nbuscar_producto, detalles_producto, comprar_producto_disponibilidad, precio_producto, talle_fitting, envio_logistica, medios_pago, cupones_descuentos, faq_general, estado_pedido, derivacion_humano\n\nFallback de clasificación:\n\n* Si hay duda sobre intent: usar faq_general.\n* Si hay duda sobre confidence: usar 0.60.\n\nCATÁLOGO — REGISTRO DE MARCAS (NORMALIZAR)\n\n* Sansha\n* Pointe Coach\n* Grishko\n* Capezio\n\nRegla de normalización (CRÍTICA):\n\n* Si el usuario escribe mal una marca (ej: “capiezo”, “capezzio”, “grischo”), interpretar la marca correcta y usarla bien escrita en q/keyword.\n* No incluir palabras genéricas como “accesorios” junto a la marca en el mismo keyword si eso puede devolver 0 resultados. Preferir: producto + marca.\n\nCATEGORÍAS OFICIALES DEL SITIO (USAR ESTOS NOMBRES)\n\nCategorías principales:\n\n* Zapatillas\n* Medias\n* Accesorios\n* Bolsos\n* Leotardos\n\nNota: “Marcas”, “Sobre Nosotros” y “Contacto” no son categorías de producto.\n\nSubcategorías (cuando aplique):\n\nZapatillas:\n\n* Zapatillas de punta\n* Zapatillas de media punta\n\nMedias:\n\n* Medias convertibles\n* Socks\n* Medias de contemporáneo\n* Medias poliamida\n* Medias de patín\n\nAccesorios:\n\n* Metatarsianas\n* Bolsa de red\n* Elásticos\n* Cintas de satén y elastizadas\n* Endurecedor para puntas\n* Accesorios para el pie\n* Punteras\n* Protectores de puntas\n\nBolsos:\n\n* (sin subcategorías)\n\nLeotardos:\n\n* (sin subcategorías)\n\n========================================\nROUTER DE CATEGORÍA + CONSTRUCTOR DE q (PARCHE V2, OBLIGATORIO)\n===============================================================\n\n1. DICCIONARIO OFICIAL: categorías y sinónimos (detección)\n\n* ZAPATILLAS DE PUNTA\n\n  * keywords: “puntas”, “zapatillas de punta”, “zapatillas de puntas”, “pointe”, “pointes”\n\n* ZAPATILLAS DE MEDIA PUNTA\n\n  * keywords: “media punta”, “mediapunta”, “mediapuntas”, “zapatillas de media punta”, “zapatillas ballet”, “slippers”\n\n* MEDIAS\n\n  * keywords: “medias”, “panty”, “pantis”, “sox”, “socks”, “medias de danza”, “medias convertibles”, “poliamida”, “contemporáneo”, “patín”\n\n* ACCESORIOS\n\n  * keywords: “accesorios”, “metatarsianas”, “bolsa de red”, “elásticos”, “cintas”, “cintas de satén”, “endurecedor”, “punteras”, “protectores de puntas”, “protector de puntas”, “accesorios para el pie”\n\n* BOLSOS\n\n  * keywords: “bolso”, “bolsos”, “mochila”, “bag”, “carry”, “carry-all”, “bolsa”, “mesh bag”, “bolsa de malla”\n\n* LEOTARDOS\n\n  * keywords: “leotardo”, “leotardos”, “maillot”, “body”, “malla”, “enterito”\n\nRegla dura:\n\n* Si el mensaje contiene cualquiera de esos keywords/sinónimos, la categoría queda definida.\n\n2. BLOQUEO DE productsall\n\n* Está TERMINANTEMENTE prohibido usar productsall si la categoría quedó definida por el Router.\n\n* productsall solo se permite si:\n  a) El usuario pide explícitamente algo general sin categoría (ej: “¿qué venden?”, “mostrame el catálogo”, “qué hay en la tienda?”)\n  b) O como último recurso, solo después de agotar productsq + productsq_category, y aun así sin inventar.\n\n3. CONSTRUCTOR OBLIGATORIO DE q (para productsq)\n\n* q = 1 a 5 palabras, minúsculas, sustantivos.\n* q DEBE incluir la categoría (o subcategoría) como token principal.\n* Orden recomendado: categoria/subcategoria + marca (opcional) + keyword/modelo (opcional)\n\nEjemplos:\n\n* “quiero leotardos” -> q=\"leotardos\"\n* “busco maillot negro” -> q=\"leotardos negro\" (si falla, q=\"leotardos\")\n* “necesito bolsos” -> q=\"bolsos\"\n* “bolso capezio” -> q=\"bolsos capezio\"\n* “punteras grishko” -> q=\"punteras grishko\"\n* “cintas de satén” -> q=\"cintas de satén\" (si falla, simplificar a q=\"cintas\")\n* “media punta sansha” -> q=\"zapatillas de media punta sansha\"\n\nAnti-error crítico:\n\n* Si q NO contiene la categoría detectada, NO llames tools. Corregí q.\n\n4. ESCALERA OBLIGATORIA DE BÚSQUEDA (determinística)\n\nSi hay categoría definida:\n\nPaso 1: productsq con q construido correctamente.\n\nPaso 2 (si 0 o irrelevante): reintentar productsq simplificando:\n\n* plural <-> singular\n* quitar marca\n* quitar adjetivos\n* reemplazar sinónimo por categoría oficial\n\nPaso 3 (si sigue 0 o irrelevante): productsq_category\n\n* category = categoría/subcategoría oficial exacta\n* keyword = 1 palabra (preferencia: marca; si no, sustantivo simple)\n\nPaso 4 (último recurso): productsall\n\n* Filtrar mentalmente por la categoría pedida.\n* Si no hay coincidencias claras, tratar como 0 resultados (no inventar).\n\n5. VALIDACIÓN ANTI-IRRELEVANTES (OBLIGATORIA)\n\n* Después de cualquier tool de catálogo, validá que los productos devueltos correspondan a la categoría pedida.\n* Considerá “coincidente” si el nombre del producto devuelto contiene:\n\n  * la categoría/subcategoría, o\n  * un sinónimo directo (ej: leotardo/maillot/body; bolso/bag/carry; puntera; media punta).\n* Si NO coincide, no lo muestres; tratá como 0 resultados y reintentá con la escalera.\n\n6. PROHIBICIÓN EXPLÍCITA DE INVENTAR AL USAR productsall\n\n* Aunque uses productsall como plan B, está prohibido afirmar stock o listar productos de una categoría si no hay coincidencias reales en los resultados.\n\n========================================\nFIN PARCHE V2\n=============\n\nCUPONES\n\n* cupones_list: obligatorio si preguntan por promo/descuento/cupón/voucher/código.\n* Prohibido afirmar “no hay promos” sin ejecutar cupones_list.\n* Considerar solo: valid=true e is_deleted=false.\n* Si first_consumer_purchase=true: aclarar “solo primera compra”.\n* Si min_price existe: mencionar mínimo.\n\nPEDIDOS\n\n* orders: obligatorio para estado_pedido. Input: q = número de orden como string.\n* Si viene “#100” o “pedido #100”: quitar “#” y usar “100”.\n* Si no hay número: pedirlo (1 pregunta).\n\nREGLA DE RESULTADOS 1–3 PRODUCTOS (CRÍTICO)\n\nA) Si una tool devolvió productos, SIEMPRE devolver productos.\n\n* Si devolvió 1: enviar 1 producto completo.\n* Si devolvió 2: enviar 2 productos completos.\n* Si devolvió 3 o más: mostrar máximo 3.\n\nB) Mostrar exactamente 3 SOLO si la consulta es general por categoría (sin marca/modelo y sin “ese”).\n\nC) NO forzar 3 si:\n\n* Piden marca/modelo específico.\n* Eligen uno luego de ver opciones.\n* La búsqueda devolvió 1–2 resultados.\n\nD) Frase breve no técnica:\n\n* Basarla solo en datos del producto devueltos por la tool. Si no hay atributos: frase neutra y segura.\n\nE) Stock (si la tool lo trae):\n\n* Priorizar productos con stock.\n* Si todos están sin stock, podés mostrarlos aclarando “sin stock” y ofrecer alternativas.\n\nFORMATO DE PRESENTACIÓN DE PRODUCTOS (WHATSAPP)\n\n* Prohibido poner más de 1 producto en el mismo mensaje.\n* Secuencia: intro opcional (sin imagen) → 1 mensaje por producto → cierre con pregunta (sin imagen).\n\nEn cada mensaje de producto incluir, en este orden:\n\n1. Nombre exacto (tool)\n2. Precio exacto (tool)\n3. Variantes/talles (solo si vienen)\n4. Stock (solo si viene)\n5. 1 frase breve no técnica (sin inventar)\n6. Link directo exacto (tool)\n\nLa imagen no va en el texto; va en imageUrl.\n\nREGLA CRÍTICA: LINKS E IMAGEURL (NO CONSTRUIR, NO ADIVINAR)\n\nRegla base (innegociable):\n\n* Tanto el link del producto como imageUrl SOLO pueden ser valores exactos devueltos por las tools (permalink / image / imageUrl, según venga en el JSON). Está prohibido construirlos “a mano”.\n\nFormato real esperado (Pointe Coach en Tienda Nube):\n\n* Links reales de producto: suelen estar bajo el dominio de la tienda y se ven como:\n\n  * [https://www.pointecoach.shop/](https://www.pointecoach.shop/)...\n\n* Imágenes reales: suelen venir desde el CDN de Tienda Nube y se ven como:\n\n  * [https://dcdn-us.mitiendanube.com/stores/006/873/259/products/](https://dcdn-us.mitiendanube.com/stores/006/873/259/products/)...\n\nBloqueo por dominios (anti-URL inventada):\n\n* Si el link NO empieza con \"[https://www.pointecoach.shop/](https://www.pointecoach.shop/)\" entonces NO lo envíes. Dejá el link fuera del texto o aclaralo como “Link: (no disponible ahora)” (sin inventar).\n* Si imageUrl NO empieza con \"[https://dcdn-us.mitiendanube.com/](https://dcdn-us.mitiendanube.com/)\" entonces imageUrl = null.\n\nProhibido explícito:\n\n* Prohibido inventar o reemplazar con dominios como:\n\n  * [https://pointecoach.com.ar/](https://pointecoach.com.ar/)...\n  * [https://pointecoach.shop/](https://pointecoach.shop/)... (sin www) si no vino así en la tool\n  * cualquier ruta tipo /producto/... o /images/... si no fue devuelta por la tool.\n\nValidación mínima:\n\n* URL completa que empiece con https.\n* Si no hay certeza o el campo no está presente en la tool: link omitido y imageUrl=null.\n\nPEDIDOS (ORDERS): QUÉ INFORMAR (SIN INVENTAR)\n\n* Incluir: número de pedido, estado del pedido, estado de envío, estado de pago (en palabras simples) y próximos pasos.\n* Tracking: solo si existe shipping_tracking_url o shipping_tracking_number.\n* Pago: si payment_status=pending o paid_at=null o total_paid=0 → pago pendiente.\n\nDERIVACIÓN A HUMANO (SENDEMAIL)\n\nDerivar si:\n\n1. Piden fitting/turno/asesora o coordinación presencial/online.\n2. Dolor/lesión/incomodidad fuerte, reclamo/enojo o tema sensible.\n3. Ambigüedad de talle/modelo que no se resuelve con 1–2 preguntas.\n4. Retiro/coordinación especial.\n\nCuándo NO derivar:\n\n* Consultas generales de catálogo: resolver con tools y mostrar productos.\n* Preguntas informativas sobre fitting: explicar breve y ofrecer coordinar si quiere.\n\nAntes de enviar (máx 1–2 preguntas si faltan datos críticos):\n\n* Fitting: ciudad/zona + presencial/online + franja horaria.\n* Reclamo/pedido: número de orden.\n* Talle/modelo difícil: calzado de calle + modelo exacto (+ color si aplica).\n\nEmail:\n\n* Texto plano, accionable, sin placeholders; omití líneas sin dato.\n* Incluir: fecha/hora, nombre si existe, teléfono si existe, motivo, resumen 1–3 líneas, acción requerida.\n* Link WhatsApp (OBLIGATORIO si wa-id existe):\n\n  * Link directo: [https://wa.me/](https://wa.me/) + wa-id (solo dígitos, sin +, sin espacios)\n  * Link con mensaje precargado: [https://wa.me/](https://wa.me/) + wa-id + \"?text=\" + texto_urlencode\n  * Mensaje recomendado (sin caracteres especiales si hay dudas de encoding):\n    \"Hola, soy del equipo de Pointe Coach. Te escribo por tu consulta. En que puedo ayudarte para avanzar con tu compra?\"\n\nPAGOS Y ENVÍOS (RESUMEN)\n\n* Pagos: Transferencia Banco Macro (PC.TORREALDAY.MACRO), Mercado Pago (PC.TORREALDAY), tarjetas con recargo aproximado 12%. No inventar cuotas/promos.\n* Envíos: Andreani, Correo Argentino, Servijur (ER), Comisionistas (La Paz/Santa Fe), Via Cargo. Costo/tiempo depende de localidad y se coordina al comprar.\n\nEJEMPLOS RÁPIDOS (PARA REDUCIR CASOS LÍMITE)\n\n* “Mostrame leotardos” → productsq(q=\"leotardos\"). Prohibido productsall.\n* “Necesito bolsos” → productsq(q=\"bolsos\"). Prohibido productsall.\n* “Mostrame punteras Grishko” → productsq(q=\"punteras grishko\").\n* “¿Tenés algún cupón?” → cupones_list y responder solo lo devuelto.\n* “Pedido #104” → orders con q=\"104\".\n\nOUTPUT PARSER — SALIDA OBLIGATORIA (PRIORIDAD MÁXIMA)\n\nTu respuesta completa debe ser únicamente un JSON válido, sin texto antes ni después, sin Markdown.\n\n* Raíz: SOLO keys messages y meta.\n\n* messages: array con mínimo 1. Cada item contiene EXACTAMENTE:\n\n  * text: string no vacío\n  * imageUrl: string (URL) o null\n  * imageUrl siempre presente (si no hay imagen: null).\n\n* meta: objeto con EXACTAMENTE:\n\n  * intent: uno del enum exacto\n  * confidence: number entre 0 y 1 (con punto decimal), nunca string.\n\n* Si falta info: igual cumplir schema y hacer 1 pregunta corta en messages[0].text con imageUrl null.\n\n* Prohibido: keys extra, comillas simples, trailing commas, intent fuera del enum, confidence como string, cualquier texto fuera del JSON.\n\nMICRO TURNOS\n\n* Guía general: cada text ideal entre 80 y 420 caracteres (máx 520) salvo necesidad.\n* Excepción práctica: mensajes de intro y cierre con pregunta pueden ser más cortos (40–120) si quedan naturales.\n* Si un mensaje supera ~320–380 y tiene 2 ideas separables, dividir en 2 mensajes. No dividir listados de productos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5264,
        144
      ],
      "id": "91ea3031-ce23-4d38-98b4-328d9374deac",
      "name": "Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.whatsappInboundMessage.text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d217edf5-ec4a-4217-94ea-60d186556fd1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "491e3953-ad22-44dc-9e3a-8bcc98cb1de9",
                    "leftValue": "={{ $json.body.whatsappInboundMessage.audio.link }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df387d42-0e66-4657-a702-2d23d7c47470",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "whatsapp.smb.message.echoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatblock"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1808,
        640
      ],
      "id": "54008513-6842-4b6e-9078-81fcf4360359",
      "name": "Switch1"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n-n8n.qvwxm2.easypanel.host/mcp/d36b3e5f-9756-447f-9a07-74d50543c7e8",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        5472,
        496
      ],
      "id": "0bd1ab57-dfd7-4f60-a7ed-1d9b3ad2a446",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71d126b6-dace-4531-96f7-7826c85f5bac",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6064,
        256
      ],
      "id": "26c4a53d-ee47-4f5d-97b5-b6018bf8d441",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "4573f1712ad23a999611fcc2253a4b7c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Webhook1').item.json.body.whatsappInboundMessage.to }}\",\n  \"to\": \"{{ $('Edit Fields1').item.json[\"wa-id\"] }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.imageUrl }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6240,
        176
      ],
      "id": "dff199b2-26c2-4e64-bdb6-efe48549bf7f",
      "name": "enviar_imagen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chats_cerrados (numero, cerrado_hasta)\nVALUES ('{{ $json.body.whatsappMessage.to }}', '{{ $now.plus(21, 'hour') }}')\nON CONFLICT (numero)\nDO UPDATE SET cerrado_hasta = '{{ $now.plus(21, 'hour') }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        864
      ],
      "id": "34c2a86b-8f74-406f-b6ae-de374f4011af",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "WqdgwRCUXgKx5rxc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "164c3bf8-21ce-4137-9085-a8345fd0f789",
              "leftValue": "={{ $json.cerrado_hasta }}",
              "rightValue": "={{ new Date(Date.now() - (6 * 60 * 60 * 1000)).toISOString() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        464
      ],
      "id": "b464322d-e66f-419d-8773-16943cc6bf1a",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chats_cerrados",
          "mode": "list",
          "cachedResultName": "chats_cerrados"
        },
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $('Datos').item.json.user_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2304,
        464
      ],
      "id": "3ddf6fb6-d56b-40ae-b681-8c8b41d37274",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WqdgwRCUXgKx5rxc",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"text\": { \"type\": \"string\", \"minLength\": 1 },\n          \"imageUrl\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\"text\", \"imageUrl\"]\n      }\n    },\n    \"meta\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"intent\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"buscar_producto\",\n            \"detalles_producto\",\n            \"comprar_producto_disponibilidad\",\n            \"precio_producto\",\n            \"talle_fitting\",\n            \"envio_logistica\",\n            \"medios_pago\",\n            \"cupones_descuentos\",\n            \"faq_general\",\n            \"estado_pedido\",\n            \"derivacion_humano\"\n          ]\n        },\n        \"confidence\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 1 }\n      },\n      \"required\": [\"intent\", \"confidence\"]\n    }\n  },\n  \"required\": [\"messages\", \"meta\"]\n}\n",
        "autoFix": true,
        "customizeRetryPrompt": true,
        "prompt": "=Instructions:\n{instructions}\nCompletion:\n{completion}\n\nThe Completion did not satisfy the constraints in the Instructions.\n\nError:\n{error}\n\nReturn a corrected Completion that satisfies the Instructions EXACTLY.\n\nHard requirements:\n\nOutput ONLY a valid JSON object using double quotes for all JSON keys and string values. No extra text, no markdown, no code fences.\n\nThe root object must contain ONLY these keys: messages, meta (no additionalProperties).\n\nmessages must be an array with at least 1 item.\n\nEach messages item must contain ONLY: text, imageUrl (no additionalProperties).\n\nimageUrl must always be present. If no image: use null. Do not omit it.\n\nimageUrl must be a single string URL or null. Never an array, never an object.\n\nmeta must contain ONLY: intent, confidence (no additionalProperties).\n\nintent must be one of the allowed enum values from the Instructions.\n\nconfidence must be a number between 0 and 1 (dot decimal), not a string.\n\nIf any required information is missing, still comply with the schema and ask a short question in messages[0].text with imageUrl set to null.\n\nNow output the corrected Completion that matches the Instructions exactly.\n\nCon esto, el “fix format” suele arreglar prácticamente todos los casos en catálogo (especialmente los de imageUrl como array/objeto o mensajes sin imageUrl)."
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5424,
        352
      ],
      "id": "84363d51-7c25-4c77-b520-7f4ecf6c41cf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function — \"micro-turnos\" con soporte de ImagenUrl por bloque/producto\n// Ahora además de text, cada item puede traer imageUrl (solo en el primer chunk de ese producto).\n\n// Un poco más permisivo para no cortar frases como \"soporte excepcional.\"\nconst TARGET_PART_LEN = 400;   // tamaño deseado por burbuja\nconst HARD_MAX_LEN    = 520;   // si un bloque supera esto, se trocea por longitud\n\n// --- util: obtener el texto del agente desde distintos formatos de MCP/LLM\nfunction coalesceAgentText(items) {\n  const first = items[0] && (items[0].json ?? items[0]) || {};\n\n  // Caso típico: [{ \"output\": \"...\" }]\n  if (typeof first.output === 'string') {\n    try {\n      const parsed = JSON.parse(first.output);\n      if (Array.isArray(parsed) && parsed[0] && typeof parsed[0].output === 'string') {\n        return parsed[0].output;\n      }\n    } catch (_) {}\n    return first.output;\n  }\n\n  // Recorrer campos comunes\n  const keys = ['message', 'content', 'data', 'body', 'text'];\n  for (const k of keys) {\n    const v = first[k];\n    if (typeof v === 'string') {\n      try {\n        const parsed = JSON.parse(v);\n        if (Array.isArray(parsed) && parsed[0] && typeof parsed[0].output === 'string') {\n          return parsed[0].output;\n        }\n      } catch (_) {}\n      return v;\n    }\n  }\n\n  // Si es un array del tipo [{ output: \"...\"}] directamente\n  if (Array.isArray(first) && first[0] && typeof first[0].output === 'string') {\n    return first[0].output;\n  }\n\n  return JSON.stringify(first);\n}\n\n// --- cortar texto muy largo intentando respetar espacios / saltos de línea\nfunction splitByLengthSafe(text, maxLen) {\n  const parts = [];\n  let start = 0;\n\n  while (start < text.length) {\n    const remaining = text.length - start;\n    if (remaining <= maxLen) {\n      parts.push(text.slice(start));\n      break;\n    }\n\n    const idealEnd = start + maxLen;\n    let cut = -1;\n\n    // buscamos un espacio o salto de línea hacia atrás desde el ideal,\n    // pero sin irnos demasiado cerca del inicio del segmento\n    for (let j = idealEnd; j > start + Math.floor(maxLen * 0.5); j--) {\n      const ch = text[j];\n      if (ch === ' ' || ch === '\\n') {\n        cut = j;\n        break;\n      }\n    }\n\n    if (cut === -1) {\n      // último recurso: cortamos exactamente en maxLen\n      cut = idealEnd;\n    }\n\n    parts.push(text.slice(start, cut));\n    start = cut;\n  }\n\n  return parts;\n}\n\n// --- separar preguntas ¿...? como bloques propios dentro de un texto\nfunction extractQuestionsBlocks(text) {\n  const blocks = [];\n  let idx = 0;\n\n  while (idx < text.length) {\n    const open = text.indexOf('¿', idx);\n    if (open === -1) break;\n    const close = text.indexOf('?', open + 1);\n    if (close === -1) break;\n\n    const before = text.slice(idx, open);\n    if (before.trim()) blocks.push(before);\n\n    const question = text.slice(open, close + 1);\n    blocks.push(question);\n\n    idx = close + 1;\n  }\n\n  const tail = text.slice(idx);\n  if (tail.trim()) blocks.push(tail);\n\n  return blocks.length ? blocks : [text];\n}\n\n// --- procesar un bloque (párrafo grande) y devolver chunks { text, imageUrl }\nfunction processBlock(rawBlock) {\n  let working = rawBlock;\n  let imageUrl = null;\n\n  // 1) Extraer ImagenUrl: ...\n  const imgMatch = working.match(/ImagenUrl\\s*:\\s*(\\S+)/i);\n  if (imgMatch) {\n    const val = imgMatch[1].trim();\n    if (!/^none$/i.test(val)) {\n      imageUrl = val;\n    }\n    // eliminar la línea que contiene ImagenUrl: ...\n    working = working.replace(/ImagenUrl\\s*:.*/i, '').trim();\n  }\n\n  // 2) Dentro del bloque (ya sin ImagenUrl), separar preguntas si las hay\n  const questionBlocks = extractQuestionsBlocks(working);\n\n  const results = [];\n  let imageAssigned = false; // para que la imagen se mande solo una vez (primer chunk del bloque)\n\n  for (const qb of questionBlocks) {\n    const qbTrimmed = qb.trim();\n    if (!qbTrimmed) continue;\n\n    // 3) Intentar separar \"Link: ...\" en un sub-bloque aparte\n    const segs = [];\n    const linkIdx = qbTrimmed.search(/Link\\s*:/i);\n    if (linkIdx > -1) {\n      const before = qbTrimmed.slice(0, linkIdx).trim();\n      const rest   = qbTrimmed.slice(linkIdx).trim();\n      if (before) segs.push(before); // descripción\n      if (rest)   segs.push(rest);   // link (y lo que siga)\n    } else {\n      segs.push(qbTrimmed);\n    }\n\n    // 4) A cada segmento le aplicamos corte por longitud si hace falta\n    for (const seg of segs) {\n      const s = seg.trim();\n      if (!s) continue;\n\n      let slices = [];\n      if (s.length <= HARD_MAX_LEN) {\n        if (s.length > TARGET_PART_LEN) {\n          slices = splitByLengthSafe(s, TARGET_PART_LEN);\n        } else {\n          slices = [s];\n        }\n      } else {\n        slices = splitByLengthSafe(s, TARGET_PART_LEN);\n      }\n\n      for (const slice of slices) {\n        const cleanSlice = slice.trim();\n        if (!cleanSlice) continue;\n\n        results.push({\n          text: cleanSlice,\n          imageUrl: (!imageAssigned && imageUrl) ? imageUrl : null,\n        });\n\n        if (imageUrl && !imageAssigned) {\n          imageAssigned = true;\n        }\n      }\n    }\n  }\n\n  // Por seguridad, si no se generó nada pero había texto, lo devolvemos entero\n  if (!results.length && working.trim()) {\n    results.push({\n      text: working.trim(),\n      imageUrl,\n    });\n  }\n\n  return results;\n}\n\n// --- pipeline principal de división\nfunction microTurns(text) {\n  // 1) split en BLOQUES por doble salto de línea (párrafos)\n  const rawBlocks = text\n    .split(/\\n\\s*\\n+/)\n    .map(b => b.trim())\n    .filter(Boolean);\n\n  const allParts = [];\n\n  for (const raw of rawBlocks) {\n    const blockParts = processBlock(raw);\n    allParts.push(...blockParts);\n  }\n\n  return allParts;\n}\n\n// ===== RUN =====\nconst inItems = $input.all();\nconst text = coalesceAgentText(inItems);\nconst parts = microTurns(text);\nconst total = parts.length;\n\nreturn parts.map((p, i) => ({\n  json: {\n    part: i + 1,\n    total,\n    text: p.text,\n    imageUrl: p.imageUrl || null,\n    original_length: text.length,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5712,
        -32
      ],
      "id": "9d8e2895-16ad-443d-bee2-5933050d4631",
      "name": "Code1",
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.qvwxm2.easypanel.host",
            "user-agent": "Go-http-client/2.0",
            "content-length": "486",
            "accept-encoding": "gzip",
            "baggage": "Eagleeye-Pappname=1fof0zltrv1@d3b96e44a5c9fa6,Eagleeye-Prpc=",
            "content-type": "application/json",
            "traceparent": "00-136b59ce8ef5381ffd71c7b7f6ee54cc-f704968bf55c5e1c-00",
            "x-forwarded-for": "8.219.65.77",
            "x-forwarded-host": "n8n-n8n.qvwxm2.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4b6aa200a5db",
            "x-real-ip": "8.219.65.77",
            "x-webhook-endpoint-id": "691caf7301206661c944a743",
            "ycloud-signature": "t=1766110079,s=c03b759584bfa1b24e853b5de0d6749d253293a592c19186ce5cc8fb9a34ad0d"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_6944b37f1ff3e6369b0031a8",
            "type": "whatsapp.inbound_message.received",
            "apiVersion": "v2",
            "createTime": "2025-12-19T02:07:59.209Z",
            "whatsappInboundMessage": {
              "id": "6944b37f1ff3e6369b0031a5",
              "wamid": "wamid.HBgNNTQ5MzcwNDg2ODQyMRUCABIYFDNBNjQwQjBCNjJGMDJBNkQyRUU2AA==",
              "wabaId": "1347730806985347",
              "from": "+5493704868421",
              "customerProfile": {
                "name": "Hector Adrian Gamarra"
              },
              "to": "+5493704706902",
              "sendTime": "2025-12-19T02:07:58.000Z",
              "type": "text",
              "text": {
                "body": "Quiero leotardos"
              }
            }
          },
          "webhookUrl": "https://n8n-n8n.qvwxm2.easypanel.host/webhook/ycloud",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "marcar_leido": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis guardar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis guardar mensajes": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set (Clean URL)2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Redis guardar mensajes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis guardar mensajes1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (incoming only)": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set (Clean URL)2": {
      "main": [
        [
          {
            "node": "HTTP Request23236",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request23236": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "enviar_texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "enviar_texto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch (incoming only)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch (incoming only)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "enviar_imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "marcar_leido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar_imagen": {
      "main": [
        [
          {
            "node": "marcar_leido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Jzn60BhoDmqCzplu"
  },
  "versionId": "d8c4479a-451a-4fa4-989b-d090e83048c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fb77e2a5ea85b7e431b089955b5351150442413810ccc19e8efac4b4b75ce49"
  },
  "id": "cdBqfpiRulbmaSDK",
  "tags": []
}